<!-- Home feed-->

<% @courses.each do |course| %>

  <!-- margin between courses!-->
<div class="mt-2"></div>
<div class="card pt-2">
  <!-- title/!-->
	<p class="font-sans text-xl font-black container ">
	  <%= link_to course, class:"hover:text-black" do %>
	    <%= course.title %>
	  <% end %>
	</p>

  <!--avatar users/!-->
	    <div class=" container">
				<%= link_to edit_user_registration_path do %>
					<div class="flex items-center mb-4 mt-2">
						<!-- avatar 32X32/!-->
						<img src="https://bulma.io/images/placeholders/32x32.png" class=" flex w-10 h-10 rounded-full mr-2">
						<!--Name author course/!-->
						<span class="font-bold text-gray-900 leading-none capitalize ">
							<%= course.author %>
						</span>
						

					</div>
				<% end %>
				<!-- render course clickable-->
				<%= link_to course_path(course), class: "hover:text-black hover:no-underline" do %>
					<div class="container mb-2">
						<!-- course content-->
						<%= truncate(strip_tags(course.content.to_s.html_safe), length: 700) %>
						<!-- More option-->
							<span class="text-blue-700">
							 (Plus...)
							</span>

					</div>
        <% end %>
     </div>
</div>
<% end %>
