<!DOCTYPE html>
<html>
  <head>
    <title>Quora</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= render "layouts/shared/styles/bootstrap" %>
    <%= render "layouts/shared/head/header" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="">
    <%= render "shared/navs/navbar" %>
    <%= render "layouts/shared/notices/devise_notices" %>
      <%= yield %>
    <%= render "layouts/shared/styles/js" %>
  </body>
</html>
